html {
    height: 100%;
}

body {
    height: 100%;
}

ul,
li {
    display: block;
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    height: 100%;
    display: flex;
}

.main_threads_bar {
    width: 60px;
    height: 100%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar_icon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    background-color: #fff;
    margin-top: 5px;
}

.main_threads_bar img {
    width: 35px;
    height: 35px;
    filter: brightness(0);
}


.sub_threads_bar {
    flex-grow: 1;
    background-color: #eee;
}

.main_wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main_header {
    /* width: 100%; */
    height: 50px;
    border-bottom: 2px solid #ddd;
}

.main_body {
    height: 100%;
    margin: 0 36px 0 36px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.post_area {
    width: 100%;
    /* height: 80vh; */
    max-height: 85vh;
    overflow-y: auto;
}

.form_area {
    width: auto;
    display: flex;
    position: relative;
    /* box-sizing: border-box; */
}

.writing_quill_area {
    width: 100%;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
}

.ql-editor {
    max-height: 35vh !important;
    overflow-y: auto;
}

.ql-container {
    height: auto !important;
}

.ql-editor strong {
    font-weight: bold;
}

.enter-area {
    text-align: right;
    padding-left: 10px;
}

.enter {
    width: 100%;
}